# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [19]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [22]:
df = pd.read_csv('Datasets/census.data', names=['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification'], na_values='?')
df.head()
df.dtypes

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [24]:
#df['education'].unique()
#df['age'].unique()
#df['capital-gain'].unique()
#df['race'].unique()
#df['capital-loss'].unique()
#df['hours-per-week'].unique()
#df['sex'].unique()
df['classification'].unique()

array(['<=50K', '>50K'], dtype=object)

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [23]:
df['education'] = df['education'].astype('category',ordered=True, categories=['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       '7th-8th', 'Doctorate', '5th-6th', '10th', '1st-4th', 'Preschool',
       '12th']).cat.codes
print(df)

       education  age  capital-gain                race  capital-loss  \
0              0   39        2174.0               White             0
1              0   50           NaN               White             0
2              1   38           NaN               White             0
3              2   53           NaN               Black             0
4              0   28           0.0               Black             0
5              3   37           0.0               White             0
6              4   49           0.0               Black             0
7              1   52           0.0               White             0
8              3   31       14084.0               White             0
9              0   42        5178.0               White             0
10             5   37           0.0               Black             0
11             0   30           0.0  Asian-Pac-Islander             0
12             0   23           0.0               White             0
13             6   34           0.0  Amer-Indian-Eskimo             0
14             1   25           0.0               White             0
15             1   32           0.0               White             0
16             2   38           0.0               White             0
17             3   43           0.0               White             0
18             7   40           0.0               White             0
19             1   54           0.0               Black             0
20             4   35           0.0               Black             0
21             2   43           0.0               White          2042
22             1   59           0.0               White             0
23             0   56           0.0               White             0
24             1   19           0.0               White             0
25             5   54           0.0  Asian-Pac-Islander             0
26             1   39           0.0               White             0
27             1   49           0.0               White             0
28             5   20           0.0               Black             0
29             0   45           0.0               White          1408
...          ...  ...           ...                 ...           ...
29506          1   30           0.0               White             0
29507          9   32           0.0               White             0
29508          5   22           0.0               White             0
29509          1   31           0.0               White             0
29510          1   29           0.0               White             0
29511          0   35           0.0               White             0
29512          0   30           0.0  Asian-Pac-Islander             0
29513          7   34           0.0               White             0
29514          0   54           0.0  Asian-Pac-Islander             0
29515          5   37           0.0               White             0
29516         12   22           0.0               Black             0
29517          0   34           0.0               White             0
29518          1   30           0.0               Black             0
29519          0   38       15020.0               Black             0
29520          7   71           0.0               White             0
29521          1   45           0.0               White             0
29522          1   41           0.0               Black             0
29523          1   72           0.0               White             0
29524          3   31           0.0               Other             0
29525          1   43           0.0               White             0
29526          5   43           0.0               White             0
29527          5   43           0.0               White             0
29528          9   32           0.0  Amer-Indian-Eskimo             0
29529          3   32           0.0  Asian-Pac-Islander             0
29530          3   53           0.0               White             0
29531          5   22           0.0               White             0
29532          1   40           0.0               White             0
29533          1   58           0.0               White             0
29534          1   22           0.0               White             0
29535          1   52       15024.0               White             0

       hours-per-week     sex classification
0                  40    Male          <=50K
1                  13    Male          <=50K
2                  40    Male          <=50K
3                  40    Male          <=50K
4                  40  Female          <=50K
5                  40  Female          <=50K
6                  16  Female          <=50K
7                  45    Male           >50K
8                  50  Female           >50K
9                  40    Male           >50K
10                 80    Male           >50K
11                 40    Male           >50K
12                 30  Female          <=50K
13                 45    Male          <=50K
14                 35    Male          <=50K
15                 40    Male          <=50K
16                 50    Male          <=50K
17                 45  Female           >50K
18                 60    Male           >50K
19                 20  Female          <=50K
20                 40    Male          <=50K
21                 40    Male          <=50K
22                 40  Female          <=50K
23                 40    Male           >50K
24                 40    Male          <=50K
25                 60    Male           >50K
26                 80    Male          <=50K
27                 40    Male          <=50K
28                 44    Male          <=50K
29                 40    Male          <=50K
...               ...     ...            ...
29506              55    Male          <=50K
29507              40    Male          <=50K
29508              40    Male          <=50K
29509              40  Female          <=50K
29510              35  Female          <=50K
29511              55  Female           >50K
29512              99  Female          <=50K
29513              60    Male           >50K
29514              50    Male           >50K
29515              39  Female          <=50K
29516              35    Male          <=50K
29517              55  Female           >50K
29518              46    Male          <=50K
29519              45  Female           >50K
29520              10    Male           >50K
29521              40  Female          <=50K
29522              32  Female          <=50K
29523              25    Male          <=50K
29524              30  Female          <=50K
29525              40    Male          <=50K
29526              40  Female          <=50K
29527              50    Male          <=50K
29528              40    Male          <=50K
29529              11    Male          <=50K
29530              40    Male           >50K
29531              40    Male          <=50K
29532              40    Male           >50K
29533              40  Female          <=50K
29534              20    Male          <=50K
29535              40  Female           >50K

[29536 rows x 8 columns]

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [25]:
df['classification'] = df['classification'].astype('category',ordered=True, categories=['<=50K', '>50K']).cat.codes

Lastly, print out your dataframe!

In [26]:
print(df)

       education  age  capital-gain                race  capital-loss  \
0              0   39        2174.0               White             0
1              0   50           NaN               White             0
2              1   38           NaN               White             0
3              2   53           NaN               Black             0
4              0   28           0.0               Black             0
5              3   37           0.0               White             0
6              4   49           0.0               Black             0
7              1   52           0.0               White             0
8              3   31       14084.0               White             0
9              0   42        5178.0               White             0
10             5   37           0.0               Black             0
11             0   30           0.0  Asian-Pac-Islander             0
12             0   23           0.0               White             0
13             6   34           0.0  Amer-Indian-Eskimo             0
14             1   25           0.0               White             0
15             1   32           0.0               White             0
16             2   38           0.0               White             0
17             3   43           0.0               White             0
18             7   40           0.0               White             0
19             1   54           0.0               Black             0
20             4   35           0.0               Black             0
21             2   43           0.0               White          2042
22             1   59           0.0               White             0
23             0   56           0.0               White             0
24             1   19           0.0               White             0
25             5   54           0.0  Asian-Pac-Islander             0
26             1   39           0.0               White             0
27             1   49           0.0               White             0
28             5   20           0.0               Black             0
29             0   45           0.0               White          1408
...          ...  ...           ...                 ...           ...
29506          1   30           0.0               White             0
29507          9   32           0.0               White             0
29508          5   22           0.0               White             0
29509          1   31           0.0               White             0
29510          1   29           0.0               White             0
29511          0   35           0.0               White             0
29512          0   30           0.0  Asian-Pac-Islander             0
29513          7   34           0.0               White             0
29514          0   54           0.0  Asian-Pac-Islander             0
29515          5   37           0.0               White             0
29516         12   22           0.0               Black             0
29517          0   34           0.0               White             0
29518          1   30           0.0               Black             0
29519          0   38       15020.0               Black             0
29520          7   71           0.0               White             0
29521          1   45           0.0               White             0
29522          1   41           0.0               Black             0
29523          1   72           0.0               White             0
29524          3   31           0.0               Other             0
29525          1   43           0.0               White             0
29526          5   43           0.0               White             0
29527          5   43           0.0               White             0
29528          9   32           0.0  Amer-Indian-Eskimo             0
29529          3   32           0.0  Asian-Pac-Islander             0
29530          3   53           0.0               White             0
29531          5   22           0.0               White             0
29532          1   40           0.0               White             0
29533          1   58           0.0               White             0
29534          1   22           0.0               White             0
29535          1   52       15024.0               White             0

       hours-per-week     sex  classification
0                  40    Male               0
1                  13    Male               0
2                  40    Male               0
3                  40    Male               0
4                  40  Female               0
5                  40  Female               0
6                  16  Female               0
7                  45    Male               1
8                  50  Female               1
9                  40    Male               1
10                 80    Male               1
11                 40    Male               1
12                 30  Female               0
13                 45    Male               0
14                 35    Male               0
15                 40    Male               0
16                 50    Male               0
17                 45  Female               1
18                 60    Male               1
19                 20  Female               0
20                 40    Male               0
21                 40    Male               0
22                 40  Female               0
23                 40    Male               1
24                 40    Male               0
25                 60    Male               1
26                 80    Male               0
27                 40    Male               0
28                 44    Male               0
29                 40    Male               0
...               ...     ...             ...
29506              55    Male               0
29507              40    Male               0
29508              40    Male               0
29509              40  Female               0
29510              35  Female               0
29511              55  Female               1
29512              99  Female               0
29513              60    Male               1
29514              50    Male               1
29515              39  Female               0
29516              35    Male               0
29517              55  Female               1
29518              46    Male               0
29519              45  Female               1
29520              10    Male               1
29521              40  Female               0
29522              32  Female               0
29523              25    Male               0
29524              30  Female               0
29525              40    Male               0
29526              40  Female               0
29527              50    Male               0
29528              40    Male               0
29529              11    Male               0
29530              40    Male               1
29531              40    Male               0
29532              40    Male               1
29533              40  Female               0
29534              20    Male               0
29535              40  Female               1

[29536 rows x 8 columns]